.App {
  /* text-align: center; */
}

.parallax-background {
  background: lightyellow;
  width: 100%;
  height: 300px;
  filter: blur(12px);
  background-size: cover;
}
.move-top {
  position: relative;
  top:-300px;
}
.dropdown-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-wrapper input.select-dropdown{
  min-width: 280px;
}