.App {
  /* text-align: center; */
}

.parallax-background {
  background: lightyellow;
  width: 100%;
  height: 500px;
  filter: blur(12px);
  background-size: cover;
}
.move-top {
  position: relative;
  top:-450px;
}
.dropdown-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-wrapper input.select-dropdown{
  min-width: 280px;
}

.white-transparent {
  border-radius: 1rem;
  background-color: rgba(0,0,0,.3);
}

ul.dropdown-content li a {
  color: #000; /* no need for !important :) */
}

nav {
  background: black;
}
